<header class="container">
  <div class="header-logo">
    <svg></svg>
    <p>Filmoteka</p>
  </div>
  <button type="button" title="home" class="home-btn">HOME</button>
  <button type="button" title="my-library" class="myLibrary-btn">MY LIBRARY</button>
  <div>
    <form class="search-form" id="search-form">
      <input
        class="search-input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Movie search"
      />
      <button title="form-submit" class="submit-btn" type="submit"></button>
    </form>
    <p class="errorDisplay">Search result not successful. Enter the correct movie name and</p>
  </div>
</header>
