<header class="container">
  <div class="header-logo">
    <svg></svg>
    <p>Filmoteka</p>
  </div>
  </div>
  <a href="./index.html" rel="noreferrer noopener">HOME</a>
  <a href="./library.html" rel="noreferrer noopener">MY LIBRARY</a>
  <div>
  <div>
    <form class="search-form" id="search-form">
      <input
        class="search-input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Movie search"
      />
      <button title="form-submit" class="submit-btn" type="submit"></button>
    </form>
    <p class="errorDisplay">Search result not successful. Enter the correct movie name and</p>
  </div>
</header>
