<header>
  <div class="container">
    <div class="header-nav">
      <div class="header-logo">
        <svg width="24" height="24">
          <use href="./images/sprite.svg#icon-film"></use>
        </svg>
        <p>Filmoteka</p>
      </div>
      <div class="header-links">
        <a href="./index.html" rel="noreferrer noopener" id="home">HOME</a>
        <a href="./library.html" rel="noreferrer noopener" id="my-library">MY LIBRARY</a>
      </div>
    </div>

    <div>
      <button title="watched" type="button" class="library-btn">WATCHED</button>
      <button title="queue" type="button" class="library-btn">QUEUE</button>
    </div>
  </div>
</header>
