@import url("./footer.css");
@import url("./header-home.css");
@import url("./header-library.css");
@import url("./modal.css");
@import url("./goit-modal.css");

.container,
.footer {
 margin: 0 auto;
 max-width: 280px;
}

.footer-container {
 max-height: 100px;
 display: inline;
}